@import '../../../shared.scss';

.app-listing-item--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}
.app-listing-item--container--num {
  color: $text-grey;
  margin: 10px;
}

.app-listing-item--container--details {
  margin: 10px;
  height: 100%;
}

.app-listing-item--container--details--category {
  color: $text-grey;
  font-size: 12px;
}

@include responsive('mobile') {
  .app-listing-item--container {
    height: 53px;
  }
}

@include responsive('tablet') {
  .app-listing-item--container {
    height: 75px;
  }
}
