@import '../../../shared.scss';

.recommended-apps {
  width: 95vw;
  height: 194px;
}
.recommended-apps--label {
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}
.recommended-apps--empty {
  text-align: center;
  color: $text-grey;
}
